
# Build outputs
# Cargo
# Dependencies
# Environment
# IDE
# Logs
# OS
# Postgres data
# Storage (dev)
# Turbo
# TypeScript
*.log
*.swo
*.swp
*.tsbuildinfo
.DS_Store
.env
.env.*.local
.env.local
.idea/
.next/
.output/
.turbo/
.vscode/
Thumbs.db
dist/
node_modules/
npm-debug.log*
pnpm-debug.log*
postgres_data/
redis_data/
secret json
storage/
target/
